# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Setuptools egg info
*.egg-info/

# Virtual environment
.env/
.venv/
ENV/
env/
venv/

# Ignore __pycache__ in any subdirectory (this covers all cases, including phage_modeling/**/__pycache__/)
**/__pycache__/
